<h1 mat-dialog-title>{{ data.character.name}}</h1>
<div mat-dialog-content>
      <img [src]="data.character.image" alt="Character image">
      <h2>Lugar: {{data.character.location.name}}</h2>
      <h2>Origen: {{data.character.origin.name }} </h2>
      <h2>Genero: {{data.character.gender }} </h2>
      <h2>Especie: {{data.character.species }} </h2>
      <h2>Estado: {{data.character.status }} </h2>
      <h2>ID: {{data.character.id }} </h2>
      <h2>URL: {{data.character.url }} </h2>
      <h2>Fecha de creación: {{data.character.created }} </h2>
</div>

